* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, body > div {
    width: 100%;
    height: 100%;
}

body > div {
    display: flex;
}

.app__container--2S1Yz {
    width: 800px;
    padding: 50px;
    margin: 0 auto;
    
}

.flightList__container--1mmM3{
    margin-top: 20px;
}
